
h2{
    color: #5487fa;
}
h1{
    text-align: center;
    color: white;
}
body {
	margin:0;
	padding:0;
	height:100%;
    width: 100%;
}

hr{
	width: 2px;
	size: 100px;
	height: 100px;
}

p {
	margin: 0;
	padding-top: 50px;
    color: rgb(0, 0, 0);
	text-align: center;
}

#desc{
	height:50%;
	width:100%;
	margin-top: 50px;
	margin-right: 30px;
	text-align:center;
	color:#FFFFFF;
	border-radius: 200px 0 0 0;
}

#half2 {
	height:50%;
	width:100%;
	margin-top: 100px;
	text-align:center;
	color:#FFFFFF;
	border-radius: 200px 0 0 0;
}

.upPage{
    background-color: #5487fa;
    height: 25%;
}

.login{
    margin-right: 350px;
    margin-left: 350px;
}

#linha-vertical {
    height: 400px;
    border-right: 3px solid #5487fa;
}
#search{
	margin-top: 10px;
}
header{
	background-color: #5487fa;
}

.item{
	margin-left: 90px;
	margin-right: 90px;
}

.buy{
	margin-top: 5px;
	margin-left: 120px;
}

.kitcasa{
	margin-left: 40px;
	margin-top: 30px;
}

.lamp{
	margin-right: 40px;
}
.button{width: 140px;}

.textbuy{
	margin-right: 15px;
}

#emp{

	margin-left: 285px;
	padding-top: 50px;
	text-align: center;
	
}

#imgemp{

	margin-left: 255px;
	padding-top: 50px;
	text-align: center;
	
}

#serv{
	margin-right: 300px;
}

.star{
	font-size: 30px;
}

.stars{
	margin-left: 180px;
	color: rgb(233, 233, 10);
}

.starstwo{
	margin-left: 90px;
}




